<mat-toolbar>
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="_notifyMenuClicked()"
    *ngIf="showMenuBar">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <button mat-button>
    <h1>Star Chart</h1>
  </button>
  <span fxFlex></span>

  <ng-container *ngIf="auth.user$ | async; then authenticated else showLogin">

  </ng-container>

  <ng-template #authenticated>
    <ng-container *ngIf="auth.user$ | async as user">
      <p>Hello, {{ user.displayName }}!</p>
      <button mat-raised-button (click)="auth.signOut()">Logout</button>
    </ng-container>
  </ng-template>

  <ng-template #showLogin>
    <p>Please login.</p>
    <button mat-raised-button (click)="auth.googleLogin()">Login with Google</button>
  </ng-template>
</mat-toolbar>
