<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <!--  <app-create-environment></app-create-environment>-->

  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Addison
          </mat-card-title>
          <button mat-icon-button class="more-button">
            <mat-icon>launch</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content fxLayout="row">
          <div fxFlex="40">
            <div class="circle">123</div>
            <div fxFlex></div>
          </div>
          <mat-list fxFlex="60">
            <mat-list-item>
              <mat-icon mat-list-icon>arrow_upward</mat-icon>
              <h4 mat-line>+20</h4>
              <p mat-line>Helping out in the kitchen</p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>arrow_upward</mat-icon>
              <h4 mat-line>+10</h4>
              <p mat-line>Encouraging words</p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <!--    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">-->
    <!--      <mat-card class="dashboard-card">-->
    <!--        <mat-card-header>-->
    <!--          <mat-card-title>-->
    <!--            {{card.title}}-->
    <!--            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">-->
    <!--              <mat-icon>more_vert</mat-icon>-->
    <!--            </button>-->
    <!--            <mat-menu #menu="matMenu" xPosition="before">-->
    <!--              <button mat-menu-item>Expand</button>-->
    <!--              <button mat-menu-item>Remove</button>-->
    <!--            </mat-menu>-->
    <!--          </mat-card-title>-->
    <!--        </mat-card-header>-->
    <!--        <mat-card-content class="dashboard-card-content">-->
    <!--          <div>Card Content Here</div>-->
    <!--        </mat-card-content>-->
    <!--      </mat-card>-->
    <!--    </mat-grid-tile>-->
  </mat-grid-list>
</div>
