.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.points {
  text-align: center;
  font-size: 8vw;
}

// https://css-tricks.com/forums/topic/responsive-circle-with-centered-text/
.circle {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;

  /* Just making it pretty */
  //@shadow: rgba(0, 0, 0, .1);
  //@shadow-length: 4px;
  //-webkit-box-shadow: 0 @shadow-length 0 0 @shadow;
  //box-shadow: 0 @shadow-length 0 0 @shadow;
  //text-shadow: 0 @shadow-length 0 @shadow;
  background: #38a9e4;
  color: white;
  font-family: Helvetica, Arial Black, sans, serif;
  font-size: 48px;
  text-align: center;
  line-height: 0;
}
