<ng-container *ngIf="appAuth.user$ | async">
  <ng-container *ngIf="appAuth.user$ | async as user">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Environments for {{ user.displayName }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let environment of environments">
          <h2>Select Environment</h2>
          <button mat-raised-button (click)="hms.setEnvironment(environment.id)">{{environment.displayName}}</button>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
</ng-container>

<ng-container *ngIf="hms.environment; then exists else createNew">

</ng-container>

<ng-template #exists>
  <h2>Current Environment: {{hms.environment.displayName}}</h2>
  <button mat-raised-button routerLink="/environment/edit/{{hms.environment.id}}">Edit Environment</button>
</ng-template>

<ng-template #createNew>
  <button mat-raised-button (click)="createEnvironment()">Create Environment</button>
</ng-template>
